version: '3.8'
services:
  app:
    build: .
    ports:
      - "3050:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://rootpg:123456@db:5432/warehouse?schema=public&sslmode=disable
      - NEXTAUTH_URL=http://localhost:3050
    restart: always
    networks:
      - app-net
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: pg-main
    environment:
      POSTGRES_USER: rootpg
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: warehouse
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  postgres_data:
  postgres_data_dev:
